 body {
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #d84f0f;
    color: rgb(0, 0, 0);
    line-height: 1.9;
}

h1 {
color: black;
text-align: center;
}

.About_Me_Title {
  background-color: darkolivegreen;
  width: auto;
  text-align: center;
  border: 10px;
}

.About_Me_Info {
  background-color: darkolivegreen;
  width: fit-content;
  text-align: center;
}

.My_Background_Title {
  background-color: darkolivegreen;
  text-align: center;
}

.My_Background_info {
  background-color: darkolivegreen;
  text-align: center;
}
.My_Interests_Title {
  background-color: darkolivegreen;
  text-align: center;
}

.My_interests {
  background-color: darkolivegreen;
  text-align: center;
}

.My_Projects_Title {
  background-color: darkolivegreen;
  text-align: center;
}

.My_interests_List {
  background-color: darkolivegreen;
  padding-left: 0;
  list-style-position: inside;
  align-content: flex-start;
}

.My_Projects_List {
  background-color: darkolivegreen;
  padding-left: 0;
  list-style-position: inside;
}
.image1 {
  display: block;
  float: inline-start;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.image2 {
  display: block;
  float: inline-start;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  max-height: 600px;
  align-items: center;
}

.footer {
  text-align: center;
}